@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

@using Microsoft.AspNet.Identity
@model IEnumerable<projektBSI.Entities.Post>

@*@if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }*@
<h1 class="page-title">Artykuły</h1>
<table class="table">
    @*<tr>
            <th>
                Tytuł
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Signature)
            </th>
            <th></th>
        </tr>*@

    @foreach (var item in Model.OrderByDescending(item => item.DateOfPublication))
    {
        <tr class="post-row">
            <td>
                <a href="@Url.Action("Details", "Posts", new { id = item.Id })" class="post-row-title">
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                </a>
                <p>Autor: @Html.DisplayFor(modelItem => item.ApplicationUser.Signature), @Html.DisplayFor(modelItem => item.DateOfPublication)</p>
                @if (item.Article.Length > 400)
                {
                    <p>@Html.DisplayFor(modelItem => item.Article).ToString().Substring(0, 400)...</p>
                }
                else
                {
                    <p>@Html.DisplayFor(modelItem => item.Article)</p>
                }
                <div class="read-more-btn">
                    <a href="@Url.Action("Details", "Posts", new { id = item.Id })">
                        Czytaj więcej
                    </a>
                </div>

            </td>
            <td></td>
            @*@if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    </td>
                }*@

        </tr>
    }
</table>
